/* styles.css (o el nombre de tu archivo de estilos) */
.form-title {
  font-family: 'Verdana', sans-serif;
  font-size: 30px; /* Tamaño de fuente */
  color: #0c0b0b;   /* Color del texto */
}

.form-divider {
  width: 50%;
  height: 8px; /* Grosor de la línea horizontal */
  background-color: #2b3035; /* Color de la línea */
  border: thick;
  margin: 20px auto; /* Espaciado superior e inferior con centrado horizontal */
} 